@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.text-pixelated {
    font-family: 'Press Start 2P', cursive;
}

.title-typing-effect {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 1s steps(16, end) forwards, blink .75s step-end infinite alternate;
    border-right: 2px solid rgb(250 204 21);
}

@keyframes typing {
    from { width: 0; }
    to { width: 16ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.wizard-sprite-glow {
    animation: glow 1.5s ease-in-out infinite;
    background: rgba(255, 255, 255);
}

@keyframes glow {
    0%, 100% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(130%);
    }
}